
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("../../../assets/img/home-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

header {
    background-color: rgb(0, 0, 4);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: lightblue;
    box-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue;
}

.header-image {
    margin-right: 20px;
}

.header-image img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.left-container, .right-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glowing-container {
    width: 250px;
    height: 250px;
    background-color: #3498db;
    border-radius: 10px;
    box-shadow: 0 0 20px #3498db;
    animation: slideAnimation 2s linear infinite alternate;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    margin-top: -20px;
}

.glowing-container:first-child {
    margin-bottom: 40px;
}

.glowing-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(150px);
    }
}

.content-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.content-container:hover {
    transform: scale(1.1);
}

.content-container h2 {
    color: #333;
}

.content-container p {
    color: #666;
}

footer {
    background-color: rgb(0, 0, 4);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
}