body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("../../../assets/img/home-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: rgb(0, 0, 4);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: lightblue;
    box-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue;
}

.header-image {
    margin-right: 20px;
}

.header-image img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.container {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.container:hover {
    transform: scale(1.1);
}

.container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .content img {
    max-width: 70%;
    max-height: 100%;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}

h2 {
    margin: 0;
    color: white;
}

footer {
    background-color: rgb(0, 0, 4);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
